
@{
    ViewData["Title"] = "Login";
}

@model Account

<div class="login-form">
    <div class="login-logo">
        <img src="https://srm.siliconstack.com.au/images/login-logo.png" alt="">
    </div>
    <div class="login-slogan">
        Welcome back !
    </div>
    <form asp-action="Index" method="post">
        <div class="form-group">
            <input asp-for="Email" class="form-control"/>
            <label asp-for="Email" class="form-label"></label>
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control"/>
            <label asp-for="Password" class="form-label"></label>
        </div>
        <button type="submit" class="btn btn-submit">Login</button>
    </form>
</div>

