.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 8px;
    background: #2fa4e7;
    padding: 10px;
    color: whitesmoke;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 2px grey;

    &-left {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &-icon {
        font-weight: 500;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        transition: all 0.15s ease-in;

        &:hover {
            background-color: gainsboro;
            color: #330066;
        }
    }

    &-logo {
        height: 40px;
        padding-block: 5px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &-right {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

.main {
    display: flex;

    &-sider {
        background: #2fa4e7e5;
        width: 70px;
        height: calc(100vh - 60px);
        transition: all 0.25s ease-in;
        overflow: hidden;
        position: sticky;
        position: -webkit-sticky;
        top: 60px;

        &.active {
            width: 220px;

            .avatar {
                width: 60px;
                height: 60px;
            }

            .dropdown {
                transform: translateY(8px);
            }

            .dropdown-select {
                height: 24px;
                opacity: 1;
                visibility: visible;
                transition-delay: 0.1s;
            }

            .sider-main {
                overflow: auto;
            }

            .sider-text {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-body {
        flex: 1;
        position: relative;
        padding: 16px;
        background-color: whitesmoke;
    }
}

.sider {
    &-container {
        height: 100%;
        padding-inline: 16px;
        display: flex;
        flex-direction: column;
    }

    &-header {
        padding-block: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-main {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        border-top: 1px solid rgba(220, 220, 220, 0.564);
        border-bottom: 1px solid rgba(220, 220, 220, 0.564);

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-icon {
        min-width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-item {
        padding: 12px 0;
        margin-block: 8px;
        border-radius: 4px;
        display: flex;
        gap: 8px;
        color: #111111;

        &.active {
            background-color: rgb(244, 51, 132);
            color: whitesmoke;
        }

        &:hover {
            background-color: #0000002c;
        }
    }

    &-text {
        opacity: 0;
        visibility: hidden;
        white-space: nowrap;
        transition: all 0.25s ease-in;
    }
}
