.btn {
    margin-block: 16px;
    display: inline-block;
    padding: 8px 16px;
    border-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    border-radius: 4px;
    background-color: rgb(244, 51, 132);

    &__primary {
        background-color: #337ab7;
    }

    &-logout {
        background: none;
        box-shadow: none;
        margin: 0;
    }

    &-submit {
        display: block;
        width: 100%;
        padding: 12px 20px;
    }
}
