#login {
    height: 100vh;
    background: center / cover no-repeat rgb(46, 6, 128) url("https://srm.siliconstack.com.au/images/frame.png");
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 16px;
}

.login {
    &-form {
        width: 100%;
        max-width: 500px;
        padding: 40px 80px;
        background: rgba(27, 1, 83, 0.2);
    }

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    &-slogan {
        font-size: 38px;
        font-weight: 600;
        line-height: 46px;
        text-align: center;
        margin-bottom: 12px;
    }
}

.edit {


    &-page {
        padding: 16px;
        background-color: #fff;
        height: 100%;
    }

    &-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        color: grey;
        margin-bottom: 1em;
    }

    &-container {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .avatar {
            width: 150px;
            height: 150px;
            border-width: 10px;
        }
    }
}
